.selectors {
  height: 50px;
}

.range-slider {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 300px;
  height: 50px;
  left: 50px;
  margin: 10px 10px 10px 10px;
}

#weight {
  position: absolute;
}

#frequency {
  display: inline;
  margin: auto;
}

.range-slider input[type="range"] {
  position: absolute;
  width: 100%;
  pointer-events: none;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
}

.range-slider input[type="range"]::-moz-range-thumb {
  pointer-events: all;
}

.range-slider input[type="range"] {
  appearance: none;
  background: none;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
  appearance: none;
}

.range-slider input[type="range"]:focus {
  outline: none;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: cornflowerblue;
  cursor: pointer;
}

.range-slider input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: cornflowerblue;
  cursor: pointer;
}

.range-slider input[type="range"]:first-child::-webkit-slider-runnable-track {
  background: #3e3e3e;
}

.range-slider input[type="range"]:first-child::-moz-range-track {
  background: #3e3e3e;
}

.range-slider input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
}

.range-slider input[type="range"]::-moz-range-track {
  height: 6px;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
  margin-top: -7px;
}

.range-slider .rangeMin,
.range-slider .rangeMax {
  position: absolute;
  bottom: -5px;
  font-size: 14px;
  font-weight: 700;
}
.range-slider .rangeMin {
  left: 0;
}
.range-slider .rangeMax {
  right: 0;
}

.frequency-selector {
  position: relative;
  top: -45px;
  left: 400px;
}
