*{
font-family:Arial, Helvetica, sans-serif
}

.graph1 {
  /* outline: auto; */
}

.graphContainer {
  /* outline: auto; */
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
