* {
  font-family: Arial, Helvetica, sans-serif;
}

.graph1 {
  /* outline: auto; */
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}

.graphContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.legend {
  margin-top: 40px;
}

.legendItem {
  margin: 4px;
  display: flex;
  flex-direction: row;
}

.box {
  height: 13px;
  width: 13px;
  margin: 5px;
}
